<!DOCTYPE html>
 
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
 
<!-- The f:view element is required to get certain components to work with webkit based browsers
(Google Chrome and Safari) -->
<f:view contentType="text/html">
 
<h:head>
    <!-- Add support for <meta>, <link>, and <scripts> here -->
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <!-- Change the title of this document!!! -->
    <title>Events</title>
     
</h:head>
 
<h:body>
    <!-- Add your content here -->    
    <h1>Events</h1> 
    <h:form id="coursesForm">    
	    <h:commandLink value="Create New" action="#{eventBean.createNew}" />
	    <h:outputLink value="logout.jsp" rendered="#{facesContext.externalContext.remoteUser != null}">
	    	Logout
	    </h:outputLink>
	    
	    <p:messages id="messages" />
	    <p:dataTable id="events" value="#{eventBean.events}" var="event" editable="true">
	    	<p:column headerText="Event ID" sortBy="#{event.eventID}">
	    		<h:outputText value="#{event.eventID}" />
	    	</p:column>

	    	<p:column headerText="Title" sortBy="#{event.title}" filterBy="#{event.title}" filterMatchMode="contains">
	    		<h:outputText value="#{event.title}" />
	    	</p:column>

	    	<p:column headerText="Date &amp; Time" sortBy="#{event.eventDateTime}">
	    		<h:outputText value="#{event.eventDateTime}" />
	    	</p:column>
	    		    	
	    	<p:column>
	    		<p:commandButton value="Edit" ajax="false" icon="ui-icon-pencil" action="/saveEvent?faces-redirect=true">
	    			<f:setPropertyActionListener target="#{eventBean.currentEvent}" value="#{event}" />
                </p:commandButton>
                <p:commandButton value="Delete" icon="ui-icon-trash" oncomplete="confirmation.show()">
                	<f:setPropertyActionListener target="#{eventBean.currentEvent}" value="#{event}" />
                </p:commandButton>        
	    	</p:column>
	    	
	    </p:dataTable>
	    
	    <p:confirmDialog message="Are you sure you want to delete this event?"
                    header="Delete Confirmation"
                    showEffect="bounce" hideEffect="explode" severity="alert"
                    widgetVar="confirmation">  
   
    		<p:commandButton value="Yes sure" update="events,messages" actionListener="#{eventBean.deleteEvent}"
        		oncomplete="confirmation.hide()"/>  
  			<p:commandButton value="No" onclick="confirmation.hide()" type="button" />  
   
		</p:confirmDialog>  
    
    </h:form>
    <!-- End of content area -->
</h:body>
 
</f:view>
 
</html>