<!DOCTYPE html>
 
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
 
<!-- The f:view element is required to get certain components to work with webkit based browsers
(Google Chrome and Safari) -->
<f:view contentType="text/html">
 
<h:head>
    <!-- Add support for <meta>, <link>, and <scripts> here -->
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <!-- Change the title of this document!!! -->
    <title>Save Event</title>
     
</h:head>
 
<h:body>
    <!-- Add your content here -->
    <h1>Save Event</h1>
     
   	<h:form id="eventForm">
	    <p:panel header="Event">
    		<p:messages id="messages" />
    		<h:panelGrid columns="2">
    			
    			
    			<p:outputLabel for="title">Title:</p:outputLabel>
    			<p:inputText id="title" value="#{eventBean.currentEvent.title}">
    			</p:inputText>
    			    			
    			<h3>DateTime</h3>  
                <p:calendar value="#{eventBean.currentEvent.eventDateTime}" pattern="MM dd, yyyy h:mm a" />  
    			
    			
    			<h:outputText />
    			<p:commandButton value="Save" ajax="false" actionListener="#{eventBean.saveEvent}">
    			</p:commandButton>
    			
    			 <p:dialog header="Selected Dates" widgetVar="dialog"  
                showEffect="fold" hideEffect="fold"  
                height="225">  
  
        <h:panelGrid id="display" columns="2" cellpadding="5">  
  
            <h:outputText value="DateTime: " />  
            <h:outputText value="#{eventBean.date1}">  
                <f:convertDateTime pattern="MM/dd/yyyy HH:mm" />  
            </h:outputText>  
             </h:panelGrid>  
    </p:dialog>  
    			
    		</h:panelGrid>
    		
	    </p:panel>   
		<h:commandLink value="Back to list" action="manageEvents?faces-redirect=true" immediate="true" />
    </h:form>
     
    <!-- End of content area -->
</h:body>
 
</f:view>
 
</html>